<ng-template #customItemTemplate let-model="item" let-index="index">
    <h5>{{model.patientName}}</h5>
</ng-template>
 
<input [(ngModel)]="selectedString"
       [typeahead]="dataSource"
       (typeaheadOnSelect)="typeaheadOnSelect($event)"
       (typeaheadLoading)="changeTypeaheadLoading($event)"
       [typeaheadOptionsLimit]="7"
       [typeaheadItemTemplate]="customItemTemplate"
       typeaheadOptionField="name"
       placeholder="e.g Avinash"
       class="form-control">
<div *ngIf="typeaheadLoading">Loading</div>
