<div>
    <div class="modal-header">
      <h4 class="modal-title pull-left text-capitalize">{{title}}</h4>
    </div>
    <div class="modal-body">
      {{message}}
    </div>
    <div class="modal-footer">
        <input *ngFor="let button of buttons" [type]= "button.type" name="button.value" class="btn text-uppercase" [class.btn-primary]="(button.value == 'yes')" [class.btn-secondary]="(button.value == 'cancel')"   [value]="button.value" (click)="button.click()"/>
    </div>
  </div>