
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand logo-image" href=""><img src="assets/images/citius-logo.png" alt="CitiusTech">
        </a>
      </div>
    </div>
  </nav>