.navbar {
    padding-top: 10px;
    border: 0px;
    border-radius: 0px;
    min-height: 90px;
    background: #fff;
    box-shadow: 0px 3px #88888838;

    .navbar-header {
        .logo-image {
            img {
                width: 250px;
                height: 35px;
            }
        }
    }
}