@font-face {
  font-family: 'icomoon';
  src:  url('./assets/fonts/icomoon.eot?t2mura');
  src:  url('./assets/fonts/icomoon.eot?t2mura#iefix') format('embedded-opentype'),
    url('./assets/fonts/icomoon.ttf?t2mura') format('truetype'),
    url('./assets/fonts/icomoon.woff?t2mura') format('woff'),
    url('./assets/fonts/icomoon.svg?t2mura#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-view-list:before {
  content: "\e900";
}
.icon-view-tile:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e904";
}
.icon-information-outline:before {
  content: "\e907";
}
.icon-information-solid:before {
  content: "\e908";
}
.icon-time:before {
  content: "\e906";
}
.icon-home:before {
  content: "\e902";
}
.icon-home2:before {
  content: "\e903";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-printer:before {
  content: "\e954";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-radio-checked2:before {
  content: "\ea55";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-info:before {
  content: "\ea0c";
}
