.patient-details {
    padding: 25px 0px;

    .detail-content {
        .title {
            font-weight: bold;
            text-transform: capitalize;
            font-size: 14px;
        }
    
        .text {
            color: #717273;
        }
    }
}