<section class="main-section">
  <div class="section-heading row">
    <div class="col-md-6">
      <h2>Patient Details</h2>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn-add" (click)="onGoBack()">Go Back</button>
    </div>
  </div>
  <div class="patient-details main-content-padding" *ngIf="patientDetail">
    <div class="row no-margin">
      <div class="col-md-6 detail-content">
          <h5 class="title">Name</h5>
          <p class="text">{{patientDetail.patientName}}</p>
        </div>
        <div class="col-md-6 detail-content">
            <h5 class="title">Date of Birth</h5>
            <p class="text">{{patientDetail.dateOfBirth | date : 'mediumDate'}}</p>
        </div>
        <div class="col-md-6 detail-content">
          <h5 class="title">age</h5>
          <p class="text">{{patientDetail.age}}</p>
        </div>
    </div>
  </div>
</section>

