footer {
    background: #fff;
    padding: 13px;
    font-size: 13px;
    bottom: 0px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    box-shadow: 0px -5px 2px #88888838, 0px -7px 3px #88888838
}