<section class="main-section">
  <div class="section-heading row">
    <div class="col-md-6">
      <h2>{{title}}</h2>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn-add" (click)="onCancelMain()">Go Back</button>
    </div>
  </div>
  <div class="patient-add main-content-padding">
    <form (ngSubmit) ="onSubmitMain()" [formGroup]="patientForm" appValidate [errorMessages]="errorMessages" [formSubmitted]="formSubmitted">
      <div class="row no-margin">
        <div class="row no-margin">
            <div class="form-gorup form-padding col-md-6">
                <div class="label-with-tooltip">
                  <label>Name</label>
                  <span class="icon-information-solid info" tooltip="Name should be minimum 3 character and maximum 30 character"
                  placement="top"></span>
                </div>
                <input 
                  type="text" 
                  class="form-control" 
                  name="patientName" 
                  formControlName="patientName"
                  />
              </div>
              <div class="form-padding col-md-6">
                  <label>Date of birth</label>
                  <app-datepicker-template
                    [parent]="patientForm"
                    [selectedDate] = "patientForm.value.dateOfBirth" 
                    [isDisableFeatureDate]="true" 
                    (onChange) ="onChnageDate($event)">
                  </app-datepicker-template>
              </div>
        </div>
        <div class="form-gorup form-padding col-md-6">
            <label>Age</label>
            <p class="read-only-field">{{patientForm.value.age}}</p>
        </div>
      </div>
      <div class="row no-margin text-right button-panel">
        <input type="button" value="cancel" (click)="onCancelMain()" class="btn btn-default text-uppercase">
        <input type="submit" value="save" class="btn btn-primary text-uppercase" [disabled]="patientForm.invalid">
      </div>
    </form>
  </div>
</section>

