
.read-only-field {
    padding: 9px;
    min-height: 38px;
    background: #eee;
}
.label-with-tooltip {
    display: flex;
    align-items: center;
    .info {
        font-size: 17px;
        color: #337ab7;
        padding-left: 5px;
        padding-bottom: 5px;
    }
}