<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="container main-app-container">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
