.datepicker-template {
    input {
        border-radius: 0px;
    }
    .input-div {
        display: flex;
        align-items: center;   

        .icon {
            background: #337ab7;
            color: #fff;
            padding: 7px;
            font-size: 20px;
            border-radius: 0px 5px 5px 0px;
        }
    }
}