<div class="row datepicker-template" [formGroup]="parent">
  <div class="col-xs-12 col-12 col-md-5 col-lg-5 form-group">
      <div class="form-group">
        <div class="input-div">
          <input 
            type="text" 
            class="form-control" 
            bsDatepicker 
            #dp="bsDatepicker"
            [bsValue]="selectedDate"
            formControlName="dateOfBirth"
            (bsValueChange) = "onChange($event)"
            [minDate]="minDate"
            [maxDate]="maxDate" 
            [bsConfig]="bsConfig"
            disabled>
            <span (click)="dp.show()" [attr.aria-expanded]="dp.isOpen" class="icon icon-calendar"></span>
        </div>
      </div>
    </div>
</div>

