/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "./assets/fonts/fonts.scss";
@import 'ngx-bootstrap/datepicker/bs-datepicker.css';
@import '~ngx-toastr/toastr.css';



body {
    background: #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button-panel {
    border-top: 1px solid #ccc;
    padding: 15px 0px;
    input {
        margin: 0px 15px 0px 10px;
        
        &:first-child {
            margin: 0px;
        }
    }
}

.help-block {
    span {
        clear: both;
        display: block;
    }
}

.no-margin {
    margin: 0px;
}

.form-padding {
    padding: 15px 20px;
}

bs-datepicker-navigation-view {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100%;
}
.datepicker-template {
    .input-div {
        position: relative;

        .help-block {
            position: absolute;
            bottom: -36px;
        }
    }
}

.main-section {
    background: #fff;
    box-shadow: 0px 3px 4px rgba(2, 2, 2, 0.27);
    border-radius: 6px;
    min-height: 167px;

    .section-heading {
        border-bottom: 1px solid #ccc;
        padding: 15px 20px;

        h2 {
            font-size: 20px;
            margin: 0px;
            font-weight: bold;
        }

        button.btn-add {
            background: #337ab7;
            color: #fff;
            text-transform: uppercase;
            border: 0px;
            padding: 6px 20px;
            box-shadow: none;
            border-radius: 4px;
        }
    }
}