
.section-margin {
    margin-bottom: 20px;
    .heading-detail-info {
        font-weight: normal;
        font-size: 12px;
    }
}
.check-multiple-delete {
    input {
        vertical-align: middle;
    }
    label {
        padding: 0px 8px;
        vertical-align: -webkit-baseline-middle;
    }
}

.patient-list {
    .row {
        margin: 0px;
        .list-div {
            border-bottom: 1px solid #cccccc59;
            padding: 26px 0px;

            .details-card {
                .title {
                    font-weight: bold;
                    text-transform: capitalize;
                    font-size: 14px;
                }

                .text {
                    color: #717273;
                }
            }  
        }
        .listing-button {
            text-align: right;
            .icon {
                background: #e0e9f7;
                padding: 11px;
                border-radius: 5px;
                border: 1px solid;
                margin: 6px;
                font-size: 19px;
                color: #337ab7;
                cursor: pointer;

                &.icon-bin {
                    color: #ff00007d;
                }
            }
        }
        .patient-not-found {
            margin: 25px 22px;
            font-size: 15px;
        } 
    }

    .list-filter {
        .filter {
            border: 1px solid #ccc;
            margin-top: 15px;
            margin-bottom: 15px;

            .filter-heading {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 16px;
                text-align: center;
                padding: 7px;
                border-bottom: 1px solid #CCC;
            }

            .filter-label {
                padding: 12px 7px 0px 12px;
            }
            .filter-list {
                padding: 0px 10px 6px;
                label {
                    padding-right: 8px;
                }
            }
        }
    }
}