<section class="main-section section-margin" *ngIf="patientRecentlyDeleted.length > 0">
  <div class="section-heading row">
    <div class="col-md-12">
      <h2>Recently Deleted<span class="heading-detail-info"> (Deleted items available only 30 seconds you can undo for restore)</span></h2>
    </div>
  </div>
  <div class="patient-list">
    <div class="row">
      <div class="list-div" *ngFor="let patient of patientRecentlyDeleted">
        <div class="details-card row">
          <div class="col-md-3 detail-content">
            <h5 class="title">name</h5>
            <p class="text">{{patient.patientName}}</p>
          </div>
          <div class="col-md-3 detail-content">
              <h5 class="title">date of birth</h5>
              <p class="text">{{patient.dateOfBirth | date: 'mediumDate'}}</p>
          </div>
          <div class="col-md-3 detail-content">
              <h5 class="title">Age</h5>
              <p class="text">{{patient.age}}</p>
          </div>
          <div class="col-md-3 detail-content text-right">
              <button class="btn btn-primary text-uppercase" (click)="onUndo(patient)">undo</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="main-section">
  <div class="section-heading row">
    <div class="col-md-6">
      <h2>Patient List</h2>
    </div>
    <div class="col-md-6 text-right">
      <div class="col-md-6 check-multiple-delete">
          <input type="checkbox" name="checkForMultipleDelete" id="check-for-multiple-delete" value="checkForMultipleDelete" [(ngModel)]="isMultipleDeletePatient"><label for="check-for-multiple-delete" class="label-multiple-delete">check for multiple delete</label> 
      </div>
      <div class="col-md-6">
          <button class="btn btn-primary text-uppercase" *ngIf="!isMultipleDeletePatient" (click)="onAddPatient()">add patient</button>
          <button class="btn btn-danger text-uppercase"  *ngIf="isMultipleDeletePatient" (click)="onDeletePatients()">delete Patients</button>
      </div>
    </div>
  </div>
  <div class="patient-list">
    <div class="row">
      <div class="list-filter col-md-3">
        <div class="filter">
          <div class="filter-heading">
            filter
          </div>
          <div class="form-group row">
            <div class="col-md-12 filter-label text-capitalize">
                <label>search patient by name</label>
                <!-- <app-autocomplete [dataSource] = "dataSource" (onChnage)="onChangeAutocompleteText($event)" (onSelect)="onAutoCompleteSelectPatient($event)"></app-autocomplete> -->
                <input type="text" [(ngModel)]="searchString" [ngModelOptions]="{updateOn: 'change'}" (ngModelChange)="onFilterByName($event)">
            </div>
          </div>
          <div class="filter-label text-capitalize">
              <label>age</label>
          </div>
          <div class="filter-list text-uppercase">
            <label>
              <input type="radio" name="sort" value="asc" [(ngModel)]="ageSortorder"/>
                asc
            </label>
            <label>
                <input type="radio" name="sort" value="desc" [(ngModel)]="ageSortorder"/>
                desc
            </label>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div *ngIf="patients.length > 0 else patientNotFound">
        <div class="col-md-12 list-div" *ngFor="let patient of patients | ageSort : ageSortorder; index as i">
          <div class="col-md-8 details-card">
              <div class="col-md-4 detail-content">
                  <h5 class="title">name</h5>
                  <p class="text">{{patient.patientName}}</p>
              </div>
              <div class="col-md-4 detail-content">
                <h5 class="title">date of birth</h5>
                <p class="text">{{patient.dateOfBirth | date : 'mediumDate'}}</p>
              </div>
              <div class="col-md-4 detail-content">
                <h5 class="title">age</h5>
                <p class="text">{{patient.age}}</p>
              </div>
          </div>
          <div class="col-md-4 listing-button" *ngIf="!isMultipleDeletePatient; else showMultipleDeleteCheckbox">
            <span class="icon-pencil icon" (click)="onEditPatient(patient.id)"></span>
            <span class="icon-eye icon" (click)="onViewPatient(patient.id)"></span>
            <span class="icon-bin icon" (click)="onDeletePatient(patient)"></span>
          </div>
          <ng-template #showMultipleDeleteCheckbox>
            <div class="check-multiple-delete">
                <input type="checkbox" name="checkforDeletePatient" [(ngModel)]="patient.isDelete" value="delete" id="patient{{i}}"><label for="patient{{i}}"> Check for Delete</label>
            </div>
          </ng-template>
        </div>
      </div>
        <ng-template #patientNotFound>
            <div class="patient-not-found"> 
              <p>Patients not found</p>
            </div>
          </ng-template>
      </div>
    </div>

    <!-- <ng-template #patientNotFound>
      <div class="patient-not-found"> 
        <p>Patients not in list please click on <b>'ADD PATIENT'</b> for add patient.</p>
      </div>
    </ng-template> -->
  </div>
</section>
